html, body, div {
  position: relative;
  margin: 0;
  padding: 0;
}

h1 {
  margin: 30px auto;
  text-align: center;
  white-space: nowrap;
}

h2 {
  margin: 10px auto;
  text-align: center;
  white-space: nowrap;
}

#map-description {
  font-size: 22px;
  line-height: 22px;
  margin: 16px 0;
}

#map-tab-area {
  margin: 0 auto;
  width: 1012px;
  height: 70px;
  font-size: 0;
}

.map-tab {
  margin-right: -6px;
  display: inline-block;
  width: 150px;
  height: 70px;
  line-height: 70px;
  text-align: center;
  white-space: nowrap;
  font-size: 20px;
  background-color: #ffffff;
  border: solid 6px;
  border-bottom-width: 0;
  border-radius: 20px 20px 0px 0px;
  cursor : pointer;
  z-index: 0;
}


#wrapper {
  visibility: hidden;
}
#map-area-wrapper {
  text-align: center;
}
#map-area {
  display: inline-block;
  margin: 0 auto;
  border: solid 6px #000;
  z-index: 10;
}

#map {
  width: 1000px;
  height: 600px;
}

#map-over {
  display: none;
  margin-top: -600px;
  height: 600px;
  background-color: #eeeeee;
}

.map-button {
  position: absolute;
  width: 20px;
  height: 20px;
  border: solid 2px #d4e2f9;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0.5);
  line-height: 20px;
  text-align: center;
  white-space: nowrap;
  font-weight: bold;
  cursor : pointer;
}
.map-button:hover {
  border: solid 2px #1368f2;
}

form {
  margin: 0 auto;
  display: flex;
  width: 600px;
  height: 100%;
  background-color: #afceff;
  border: 2px solid #aaa;
  border-radius: 4px;
  
  justify-content: center; /*左右中央揃え*/
  align-items: center;     /*上下中央揃え*/
}

form div {
  margin-top: 10px;
}

label {
  display: block;
  text-align: left;
  margin-left: 50px;
}

.qnum {
  display: inline-block;
  width: 50px;
  font-weight: bold;
}

.q {
  display: inline-block;
  text-align: left;
  width: 380px;
  font-weight: bold;
}

input, textarea {
  width: 100px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #999;
}

input:focus, textarea:focus {
  border-color: #000;
}

textarea {
  vertical-align: top;
  height: 5em;
  resize: vertical;
}

button {
  margin-top: 10px;
  font-size: 16px;
  height: 26px;
}

.radio {
  width: 20px;
}

footer {
  margin-top: 20px;
  text-align: center;
}