html, body, div {
  position: relative;
  margin: 0;
  padding: 0;
}

h1 {
  margin: 30px auto;
  text-align: center;
  white-space: nowrap;
}

h2 {
  margin: 10px auto;
  text-align: center;
  white-space: nowrap;
}

#map-description {
  font-size: 24px;
  line-height: 24px;
  margin: 20px 0;
}

#map-tab-area {
  margin: 0 auto;
  width: 1012px;
  height: 70px;
  font-size: 0;
}

.map-tab {
  margin-right: -6px;
  display: inline-block;
  width: 150px;
  height: 70px;
  line-height: 70px;
  text-align: center;
  white-space: nowrap;
  font-size: 24px;
  background-color: #ffffff;
  border: solid 6px;
  border-bottom-width: 0;
  border-radius: 20px 20px 0px 0px;
  cursor : pointer;
  z-index: 0;
}

#map-area-wrapper {
  text-align: center;
}
#map-area {
  display: inline-block;
  margin: 0 auto;
  border: solid 6px #000;
  z-index: 10;
}

#map {
  width: 1000px;
  height: 600px;
}

.map-button {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0.5);
  line-height: 20px;
  text-align: center;
  white-space: nowrap;
  font-weight: bold;
  cursor : pointer;
  z-index: 100;
}
